@import '../../vars.css';

.container {
    background: #131518;
    /* margin-top: 70px; */
    color: var(--color-text);
    /* margin-left: 10%;
    margin-right: 10%; */
    padding-top: 10px;
    align-content: center;
    padding-bottom: 3.5rem;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-block: 2rem;
}

.projects {
    /* background-color: rebeccapurple; */
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(200px, 340px) );
    place-items: center;
    place-content: center;
    /* width: 100%; */
    max-width: 1500px;
    margin: 0 auto;

}

.separator {
    position: absolute;
    transform: translateX(566.8%);
    width: 15%;
    height: 20px;
    margin-top: 0rem;
    background-color: var(--color-primary);
}