@import '../../vars.css';

.card {
    background: #444;
    margin: 0 auto;
    /* min-width: 300px; */
    width: 350px;
    padding-block: 1.5rem;
    padding-inline: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 10px 14px 0 #111;
}

.titleCard {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1.2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.list {
    list-style-type: square;
    list-style-position: inside;
}

.item::marker {
    color: #777;
}

.item {
    padding-bottom: 5px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--font-quicksand);
}

@media screen and (max-width: 450px) {
    .titleCard {
        font-size: 1.25rem;
    }

    .item {
        font-size: 0.75rem;
    }

}