@import '../../vars.css';

.component {
    background: #151515;
}

.container {
    /* background-color: red; */
    align-items: center;
    margin-inline: 10%;
    padding-top: 2rem;
    z-index: 1;
}

.title {
    display: flex;
    justify-content: center;
    color: var(--color-text);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.content {
    /* background-color: rebeccapurple; */
    max-width: 1300px;
    margin: 0 auto;
    color: var(--color-text);
    z-index: 1;
}

.description {
    /* background-color: maroon; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    margin-inline: 10%;
    padding-inline: 10%;
}

p {
    font-family: var(--font-quicksand);
}

.links {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-top: 1rem;
}

.link {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.link a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 1.5px;
    font-family: var(--font-quicksand);
}

.link img {
    display: flex;
    height: 1rem;
}

.link img:nth-of-type(2) {
    display: none;
    width: 20px;
}

.formContact {
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-inline: 10%;
    margin-inline: 10%;
    /* width: 60%; */
}


input, textarea {
    width: 100%;
    background: transparent;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border: 1.5px solid #444;
    border-radius: .5rem;
    resize: none;
    font-family: var(--font-quicksand);
    color: var(--color-text);
}

.btnSend {
    display: flex;
    padding: 8px 15px;
    margin-top: .75rem;
    background-color: var(--color-primary);
    background-image: linear-gradient(90deg, #4070FF, #00A3FF);
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    color: var(--color-text);
    cursor: pointer;
}

.btnSend:hover {
    scale: 1.1;
}

.btnSend:focus {
    scale: 1;
}