@import '../../vars.css';

.navbar {
    position: fixed;
    display: grid;
    width: 100%;
    min-height: 70px;
    z-index: 111;
    background-color: rgba(255, 255, 255, 0);

    animation: enhance-header linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 13%;
}

@keyframes enhance-header {
    to {
        background-color: var(--color-bg);
    }
}


.menuBtn {
    display: none;
}

.menu {
    display: grid;
    place-content: center;
    align-content: center;
}

.menuItems {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 47px;
    list-style: none;
    padding-inline: 2rem;
}

/* .menuItems li:first-child {
    margin-right: auto;
} */

.menuItems a {
    text-align: center;
    font-size: 1rem;
    padding: .5rem 1rem;
    color: var(--color-text);
    text-decoration: none;
    text-transform: uppercase;
}

.menuItems a:hover {
    color: #42bcf9;
    /* padding-block: 25px; */
}


@media screen and (max-width: 860px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        
        animation: none;
    }

    .menu {
        position: absolute;
        right: -5%;
        top: 30%;
        /* width: 100%; */
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuBtn {
        display: flex;
        justify-self: flex-end;
        cursor: pointer;
        /* margin-bottom: .5rem; */
    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        border-radius: 10px;
        background: linear-gradient(0deg, rgba(5, 9, 26, 10) 0%, rgba(5, 9, 10, 1) 100%);
        /* backdrop-filter: blur(10px); */
        padding: 24px 33px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    }

    .menuItems li:first-child {
        margin-right: 0;
    }

    .menuOpen {
        display: flex;
        z-index: 1;
    }

}

@media screen and (max-width: 1003px) {
    .navbar {
        animation-range: 0 10%;
    }
}