@import '../../../vars.css';

.container {
    /* background-color: gray; */
    position: relative;
    height: 100%;
    display: grid;
    place-content: center;
    place-items: center;
}

.userDataContainer {
    /* background-color: lightseagreen; */
    display: grid;
    place-content: center;
    place-items: center;
    position: absolute;
    padding: 5px;
    width: 450px;
    border-radius: 1.2rem;
    z-index: 10;
    /* bottom: 36%;
    left: 50%;
    transform: translateX(-50%); */
}

.userContent {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    color: white;
}

.name {
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    
}

.description {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 24px;
}

.userImageContainer {
    /* background-color: red; */
    margin: 0;
    padding: 0;
}

.userImage {
    /* background-color: aqua; */
    height: 120px;
    padding: 8px;
    /* border-radius: 30%; */
}

.additionalContainer {
    /* background-color: lightcoral; */
    display: grid;
    place-content: center;
    grid-template-rows: auto;
    position: absolute;
    /* width: 150px; */
    bottom: 1.5%;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    z-index: 10;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    list-style: none;
}

.link {
    transition: background linear;
}

.link:hover {
    scale: 1.15;
}

.showReel {
    background: none;
    color: rgb(243, 243, 100);
    border: none;
    margin-bottom: 15px;
    font-size: 32px;
    cursor: pointer;
    transition: background .1s linear;
}

.showReel:hover {
    background-color: #aaa;
    border-radius: 1em;
    scale: 1.15;
}

.showReel.u:hover {
    scale: 1.15;
}

.imageGalleryContainer {
    /* background-color: lightskyblue; */
    position: relative;
    display: grid;
    /* grid-column: auto; */
    width: 100%;
    height: 100%;
}


.videoItem {
    /* display: grid; */
    width: 100vw;
    height: 100%;
    filter: brightness(0.6);
}

@media screen and (max-width: 1200px) {
    .userDataContainer {
        scale: 0.8;
    }

    .additionalContainer {
        scale: 0.8;
    }
}

@media screen and (max-width: 1000px) {
    .userDataContainer {
        scale: 0.6;
    }

    .additionalContainer {
        scale: 0.6;
    }
}