@import '../../../vars.css';

.container {
    /* background-color: gray; */
    position: relative;
    height: 100%;
    display: grid;
    place-content: center;
    place-items: center;
}

.userDataContainer {
    /* background-color: lightseagreen; */
    display: grid;
    place-content: center;
    place-items: center;
    position: absolute;
    padding: 5px;
    width: 450px;
    border-radius: 1.2rem;
    z-index: 10;
    /* bottom: 36%;
    left: 50%;
    transform: translateX(-50%); */
}

.userContent {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    color: var(--color-text);
    width: max-content;
}

.name {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--color-primary);
    font-family: var(--font-zendots);
}

.subtitle {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
}

.userImageContainer {
    /* background-color: red; */
    margin: 0;
    padding: 0;
}

.userImage {
    /* background-color: aqua; */
    height: 120px;
    padding: 8px;
    /* border-radius: 30%; */
}

.additionalContainer {
    /* background-color: lightcoral; */
    display: grid;
    place-content: center;
    grid-template-rows: auto;
    position: absolute;
    bottom: 1.5%;
    z-index: 10;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    list-style: none;
    width: 140px;
}

.link {
    transition: background linear;
}

.link:hover {
    scale: 1.15;
}

.reelContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 140px;
    background-color: var(--color-primary);
    background-image: linear-gradient(90deg, #4070FF, #00A3FF);
    border-radius: 1rem;
    margin-bottom: 15px;
    cursor: pointer;
    transition: background .1s linear;
}

.showReel {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-text);
}

.playIcon {
    position: relative;
    height: 15px;
    right: 6.5%;
}

.reelContainer:hover {
    background-color: #aaa;
    border-radius: 1em;
    scale: 1.15;
}

.showReel.u:hover {
    scale: 1.15;
}

.imageGalleryContainer {
    /* background-color: lightskyblue; */
    position: relative;
    display: grid;
    /* grid-column: auto; */
    width: 100%;
    height: 100%;
}


.videoItem {
    /* display: grid; */
    width: 100vw;
    height: 100%;
    filter: brightness(0.6);
}

@media screen and (max-width: 1200px) {
    .userDataContainer {
        scale: 0.8;
    }

    .additionalContainer {
        scale: 0.8;
    }
}

@media screen and (max-width: 1000px) {
    .userDataContainer {
        scale: 0.6;
    }

    .additionalContainer {
        scale: 0.6;
    }
}