@import '../../vars.css';

.container {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background: linear-gradient(100deg, #383838 0%, #414452 100%);
    /* box-shadow: 0 16px 14px 0 #242323; */
    box-shadow: 12px 10px 14px 1px #242323;
    padding: 4px 4px;
    margin-bottom: 2rem;
    max-width: 450px;
    cursor: pointer;
    
    transition: transform 0.3s ease-in-out;
    animation: fade-out 1500ms backwards;
}

.imageContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.image {
    border-radius: 10px;
    width: 292px;
    transition: filter;
    transition-duration: .5s;
}

.title {
    display: none;
    position: absolute;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.container:hover {
    transform: scale(1.07);

    .title {
        display: flex;
        padding-inline: 1rem;
        top: 1.25rem;
    }

    .image {
        filter: opacity(50%);
    }

}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}