@import '../../../vars.css';

.container {
    background-color:#25292F80;
    background-image: radial-gradient(
        farthest-corner at 100% 100%,
        #222428 0%,
        #121417 100%
    );
    /* margin-top: 70px; */
    color: var(--color-text);
    /* margin-left: 10%;
    margin-right: 10%; */
    padding-top: 10px;
    padding-bottom: 60px;
    align-content: center;
}

.titleContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    margin-block: 2rem;
}

.title1 {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: -12px;
    padding-right: 91.5px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    color: #00A3FF;
}

.secondLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.title2 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    /* margin-bottom: 65px; */
}

.playIcon {
    position: relative;
    height: 15px;
}

.videoContainer {
    /* background-color: red; */
    position: relative;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    width: fit-content;
    /* object-fit: cover; */
    padding-inline: 10rem;
    z-index: 1;
}

.videoItem {
    border-radius: 1.2rem;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}


.separator {
    position: absolute;
    width: 15%;
    height: 20px;
    margin-top: 1rem;
    background-color: var(--color-primary);
    /* z-index: 1; */
}


/* @media screen and (max-width: 1200px) {
    .videoItem {
        height: 500px;
    }
} */


/* @media screen and (max-width: 935px) {
    .videoContainer {
        padding-inline: 80px;
    }
}

@media screen and (max-width: 490px) {
    .videoContainer {
        padding-inline: 40px;
    }
} */

@media screen and (max-width: 1020px) {
    .videoContainer {
        padding: 0;
        margin-inline: 10%;
    }
}