@import '../../vars.css';

.mainContainer {
    background-color: #252525;
}

.container {
    color: var(--color-text);
    padding-bottom: 6.5rem;
    align-content: center;
    margin-inline: 5.5%;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-block: 2rem;
}

.content {
    max-width: 1300px;
    margin: 0 auto;
}

.experienceIcon {
    width: 100%;
    height: 30px;
}

.verticalTimelineStyles {
    display: block;
    /* background-color: green; */
}

.timelineContent {
    color: var(--color-text);
}

.headerExperience {
   display: flex;
   gap: 2rem;
   margin-bottom: 1rem;
   /* background: red; */
}

.imageLogo {
    width: 50px;
    object-fit: contain;
}

.experienceTitle {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-family: var(--font-quicksand);
    margin-bottom: .25rem;
}

.experienceOrganization {
    font-size: 1.2rem;
    font-family: var(--font-quicksand);
    color: #16b8fe;
}

.descriptionExperience {
    font-size: 1rem;
    padding-left: 5rem;
    padding-bottom: 1rem;
}

.achievementsList {
    font-size: 1rem;
    list-style-type: circle;
    list-style-position: inside;
    padding-left: 5rem;
}

.achievementItem {
    margin-bottom: 4px;
    font-family: var(--font-quicksand);
}

.separator {
    position: absolute;
    width: 15%;
    height: 20px;
    margin-top: -3.2rem;
    background-color: var(--color-primary);
    /* z-index: 1; */
}

@media screen and (max-width: 1169px) {
    .timelineContent {
        padding-inline: 2rem;
    }

    .headerExperience {
        padding-top: 1rem;
    }

}

@media screen and (max-width: 830px) {
    .content {
        flex-direction: column;
        align-items: center;
        gap: 34px;
    }

}

@media screen and (max-width: 550px) {
    .contentExperience {
        display: flex;
        flex-direction: column;
    }
    
    .headerExperience {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .imageContainer {
        margin-top: 1rem;
    }

    .imageLogo {
        min-width: 4rem;
    }

    .descriptionExperience {
        padding-left: 0;
    }

    .achievementsList {
        padding-left: 0;
    }
}

@media screen and (max-width: 500px) {
    .imageLogo {
        min-width: 3rem;
    }

    .experienceTitle {
        font-size: 1.25rem;
    }

    .experienceLocation {
        font-size: 0.75rem;
    }

    .achievementList {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 450px) {
    .imageLogo {
        min-width: 3rem;
    }

    .experienceTitle {
        font-size: 0.75rem;
    }

    .experienceLocation {
        font-size: 0.5rem;
    }

    .achievementList {
        font-size: 0.5rem;
    }
}