* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Red Rose Variable', Arial, Helvetica, sans-serif;
    
    scrollbar-color: var(--color-primary) #151515;
    scrollbar-width: thin;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 69px;
}

@media screen and (max-width: 830px) {
    html {
        scroll-padding-top: 0px;
    }
}