:root {
    /* Colors */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #252525;
    --color-dark: #0b2447;
    --color-bg: #080808;

    /* Fonts */
    --font-roboto: 'Roboto';
}